<body>
  <div class="whole-page">
    <div class="profile-main-container">
      <h1 class="title">Hello, {{session.name}}!</h1>
      <h2 class="title">You are viewing {{user.name}}'s profile!</h2>
      <p>profile pic</p>
      <p>about me</p>
      <p>posted pics (which should also appear on the timeline)</p>
      
    </div>
  </div>
</body>


