<div class="home-main-container">
  <div class="home-title-and-welcome-container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
  </div>
  <div class="home-login-and-signup-buttons-container">
    <div class="home-button"><p>login</p>
    </div>
    <div class="home-button">
    <p>submit</p>
    </div>
  </div>
</div>
<p>this should redirect to the user's homepage if the session checker shows they are logged in</p>