<div class="whole-page">
<div class="home-main-container">
  <div class="home-title-and-welcome-container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
  </div>
  <div class="home-login-and-signup-buttons-container">
    <div class="home-button-container">
      <a class="homepage-buttons" href="/users/new" class="sign-out-button">Sign-up</a>
    </div>
    <div class="home-button-container">
      <a class="homepage-buttons" href="/sessions/new" class="log-in-button">Login</a> 
    </div>
  </div>
  {{!-- <p>this should redirect to the user's homepage if the session checker shows they are logged in</p> --}}
</div>
</div>